// HEADER
header.sticky-top

  // NAV
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark#header-navbar

    // CONTAINER
    .container
      a.navbar-brand(href='#')= companyName

      // NAV TOGGLE
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbar')
        i.ri-menu-3-line

      // NAV COLLAPSE
      .collapse.navbar-collapse#navbar
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0
          each link, i in navLinks
            li.nav-item
              a(class=`nav-link ms-lg-4 text-capitalize ${i === 0 ? 'active' : ''}` href=`#${link.replace(/\s/, '').toLowerCase()}`)= link
