//- Project

- const projectName = "Bicycles Project"

//- Company

-const companyName = "BStore"

//- Path

-const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

-const navLinks = ["About us", "Our products", "Our team", "Questions"]

//- Data

-const questions = [{ title: "What brands of bikes do you sell?", descr: "We sell bikes from Giant, Opus, Gunnar, Surly, All-City, Origin8, Yuba, and Brompton. To learn more about the different brands of bikes we sell, see our Shop by Brand page." }, { title: "What types of bikes do you sell?", descr: "We sell road bikes, cyclocross bikes, mountain bikes, hybrid bikes, track and single speed bikes, cargo bikes, folding bikes, and kid's bikes. To learn more about the different types of bikes we sell, see our Shop by Type page." }, { title: "How much do your bikes cost?", descr: "Our bikes start at around $900 and go up to, well, the sky's the limit." }, { title: "Why should I buy a bike from you?", descr: "We will work with you to find a bike that suits your riding goals. Whether that bike costs $400 or $4,000, you will receive the highest level of service and care. When you buy a bike from us, we provide free mechanical adjustments for as long as you own it. When you buy a road or cyclocross bike from us, we provide a free basic fit session at the time of purchase. We will adjust the height, angle, and position of your new bike's seat and handlebars so that your ride is as efficient and comfortable as possible." }, { title: "Do you sell used bikes or vintage bikes?", descr: "No, we only sell new bikes." }, { title: "Do you sell e-bikes?", descr: "No, we only sell pedal powered bikes." }, { title: "Why don't you sell e-bikes?", descr: "It's illegal to operate an electric bike on the streets of New York City. We want to sell you a bike you can enjoy right away… so why would we sell you something that you can't even legally ride? Besides, most of the benefits provided by electric power, such as making a bike easier to ride up hills, are also present when you ride a lightweight, high-performance pedal powered bike. When your bike weighs 17 lb. you will have no difficulty getting it up a steep hill, we assure you." }, { title: "Can I test ride a bike at your store?", descr: "Yes! We strongly encourage you to take a test ride before you buy any bike. Our store is situated between two lovely bike lanes- one on Bergen Street and one on Dean Street. So as soon as you exit our store, you can get right onto a safe bike lane for your test ride. Should you desire a longer test ride, we are only about a mile away from Prospect Park, which contains a 3 mile bike loop. We encourage you to take a test ride around the park and really get a feel for how your new bike performs." }, { title: "Can you ship me a bike?", descr: "We don't ship bikes. Instead, we offer In-Store Pickup for the bikes we sell on our website. While this might seem kind of weird for an online store, it's actually very common for premium bike brands to insist that their products are only sold to customers in a fully assembled condition, and never shipped. This is because In-Store Pickup is only way for us to give you a bike that's 100% tuned up and ready to ride. If we shipped you a bike, we would be shipping it in a disassembled state, and when you received it you would have to put it together yourself, or bring it to a local bike shop for assembly" }, { title: "Do you fix bikes?", descr: "Yes. Bike repair is at the heart of our business. We have a full service repair workshop staffed by professional mechanics who are eager to help you with your repair. When you come to us for a repair, you will see that our store has an open workshop, where customers can watch our mechanics working and ask them questions. We don't want to keep any secrets from you and we don't want bike repair to have a mysterious aura. We're happy to show you all the tricks of the trade!" }]

//- Cards

-const productCards = [{ sale: true, title: "Merida Reacto", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 1680, img: "bike2.jpg", category: "merida" }, { sale: true, title: "Madone SLR", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 2190, img: "bike1.jpg", category: "madone" }, { title: "Venge ViAS Pro", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 2250, img: "bike4.jpg", category: "third" }, { title: "Specialized epic", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 1430, img: "bike5.jpg", category: "third" }, { title: "Giant TSX", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 3900, img: "bike3.jpg", category: "giant" }, { sale: true, title: "CrossRip 3", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 980, img: "bike6.jpg", category: "third" }, { title: "Madone SLR", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 1770, img: "bike1.jpg", category: "madone" }, { title: "Farley EX", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 2890, img: "bike7.jpg", category: "third" }, { title: "Merida Reacto", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 3240, img: "bike2.jpg", category: "merida" }, { sale: true, title: "Giant TSX", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 5260, img: "bike3.jpg", category: "giant" }, { sale: true, title: "Madone SLR", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 1930, img: "bike1.jpg", category: "madone" }]

-const teamCards = [{ name: "John Doe", descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae fugit exercitationem tempora expedita.", imgUrl: "men/11.jpg" }, { name: "Jane Doe", descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae fugit exercitationem tempora expedita.", imgUrl: "women/11.jpg" }, { name: "Steve Smith", descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae fugit exercitationem tempora expedita.", imgUrl: "men/12.jpg" }, { name: "Sara Smith", descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae fugit exercitationem tempora expedita.", imgUrl: "women/12.jpg" }]

//- Items

-const aboutCarouselImages = ["bike1.jpg", "bike2.jpg", "bike4.jpg", "bike5.jpg", "bike6.jpg"]

-const productsFilters = [{ text: "All", type: "all" }, { text: "Merida", type: ".merida" }, { text: "Madone", type: ".madone" }, { text: "Giant", type: ".giant" }, { text: "3PP", type: ".third" }]

-const socialIcons = [{ icon: "ri-twitter-fill", url: "https://twitter.com/" }, { icon: "ri-facebook-circle-fill", url: "https://www.facebook.com/" }, { icon: "ri-instagram-fill", url: "https://www.instagram.com/" }, { icon: "ri-slack-fill", url: "https://slack.com/" }]

//- Sections

-const footerSections = [{ title: "Company", links: ["About", "Bikes", "History", "Shop"] }, { title: "Information", links: ["Request a quote", "Find a dealer", "Contact us", "Services"] }, { title: "Follow us", social: [...socialIcons] }]
