//- Project

- const projectName = "Bicycles Project"

//- Company

-const companyName = "BStore"

//- Path

-const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

-const navLinks = ["About us", "Our products", "Our team", "Questions"]

//- Data

//- Cards

//- Items

//- Sections
