//- Project

- const projectName = "Bicycles Project"

//- Company

-const companyName = "BStore"

//- Path

-const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

-const navLinks = ["About us", "Our products", "Our team", "Questions"]

//- Data

//- Cards

//- Items

-const aboutCarouselImages = ["bike1.jpg", "bike2.jpg", "bike4.jpg", "bike5.jpg", "bike6.jpg"]

//- Sections
