//- Project

- const projectName = "Bicycles Project"

//- Company

-const companyName = "BStore"

//- Path

-const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

-const navLinks = ["About us", "Our products", "Our team", "Questions"]

//- Data

//- Cards

-const productCards = [{ sale: true, title: "Merida Reacto", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 1680, img: "bike2.jpg", category: "merida" }, { sale: true, title: "Madone SLR", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 2190, img: "bike1.jpg", category: "madone" }, { title: "Venge ViAS Pro", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 2250, img: "bike4.jpg", category: "third" }, { title: "Specialized epic", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 1430, img: "bike5.jpg", category: "third" }, { title: "Giant TSX", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 3900, img: "bike3.jpg", category: "giant" }, { sale: true, title: "CrossRip 3", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 980, img: "bike6.jpg", category: "third" }, { title: "Madone SLR", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 1770, img: "bike1.jpg", category: "madone" }, { title: "Farley EX", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 2890, img: "bike7.jpg", category: "third" }, { title: "Merida Reacto", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 3240, img: "bike2.jpg", category: "merida" }, { sale: true, title: "Giant TSX", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 5260, img: "bike3.jpg", category: "giant" }, { sale: true, title: "Madone SLR", descr: "Some quick example text to build on the card title and make up the bulk of the card's content.", price: 1930, img: "bike1.jpg", category: "madone" }]

-const teamCards = [{ name: "John Doe", descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae fugit exercitationem tempora expedita.", imgUrl: "men/11.jpg" }, { name: "Jane Doe", descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae fugit exercitationem tempora expedita.", imgUrl: "women/11.jpg" }, { name: "Steve Smith", descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae fugit exercitationem tempora expedita.", imgUrl: "men/12.jpg" }, { name: "Sara Smith", descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae fugit exercitationem tempora expedita.", imgUrl: "women/12.jpg" }]

//- Items

-const aboutCarouselImages = ["bike1.jpg", "bike2.jpg", "bike4.jpg", "bike5.jpg", "bike6.jpg"]

-const productsFilters = [{ text: "All", type: "all" }, { text: "Merida", type: ".merida" }, { text: "Madone", type: ".madone" }, { text: "Giant", type: ".giant" }, { text: "3PP", type: ".third" }]

-const socialIcons = [{ icon: "ri-twitter-fill", url: "https://twitter.com/" }, { icon: "ri-facebook-circle-fill", url: "https://www.facebook.com/" }, { icon: "ri-instagram-fill", url: "https://www.instagram.com/" }, { icon: "ri-slack-fill", url: "https://slack.com/" }]

//- Sections
