// NEWSLETTER
section.py-5.bg-secondary.text-light

  // CONTAINER
  .container
    .d-md-flex.justify-content-between.align-items-center 
      h4.mb-3.mb-md-0.text-capitalize Sign up for our newsletter

      // FORM
      form.newsletter__from(action="#" method="method")

        // INPUT GROUP
        .input-group.d-none.d-sm-flex
          input.form-control(type='text' placeholder="Enter email")
          button.btn.btn-dark.btn-lg(type='button') Subscribe

        input.form-control.form-control-sm.d-sm-none.mb-3(type='text' placeholder='Enter email')

        button.btn.btn-dark.btn-sm.d-sm-none(type='button') Subscribe
