include ../base/vars
include ../base/mixins

doctype html
html(lang="en")
  block head
    +head()

  // BODY
  body(data-bs-spy="scroll" data-bs-target="#header-navbar" data-bs-offset="58")

    // MAIN
    main.main
      block header 

      block content

      block footer

    block bodyEnd
